name: Deploy to App Engine

on:
  push:
    branches:
      - produccion

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. Autenticación correcta con Service Account
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 2. Instalar gcloud usando esa autenticación
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # 3. Deploy a App Engine
      - name: Deploy to App Engine
        run: gcloud app deploy app.yaml --quiet
